<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
 
 <web-app>
     <display-name>Test servlet for CIS455</display-name>
     
     <servlet>
         <servlet-name>CalculatorServlet</servlet-name>
         <servlet-class>edu.upenn.cis.cis455.CalculatorServlet</servlet-class>
     </servlet>

     <servlet-mapping>
         <servlet-name>CalculatorServlet</servlet-name>
         <url-pattern>/calculate/*</url-pattern>
     </servlet-mapping>
     
     <servlet>
         <servlet-name>TestServlet</servlet-name>
         <servlet-class>edu.upenn.cis.cis455.TestServlet</servlet-class>
     </servlet>

     <servlet-mapping>
         <servlet-name>TestServlet</servlet-name>
         <url-pattern>/testServlet/*</url-pattern>
     </servlet-mapping>
     
     <servlet-mapping>
         <servlet-name>default</servlet-name>
         <url-pattern>*.html</url-pattern>
     </servlet-mapping>
     
     <servlet>
        <servlet-name>TestRequest</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRequest</servlet-name>
        <url-pattern>/testRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestResponse</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestResponse</servlet-name>
        <url-pattern>/testResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestCookie</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCookie</servlet-name>
        <url-pattern>/testCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestSession</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSession</servlet-name>
        <url-pattern>/testSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestErrors</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestErrorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestErrors</servlet-name>
        <url-pattern>/testErrors</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestParameters</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.TestParametersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestParameters</servlet-name>
        <url-pattern>/testParameters</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusyServlet</servlet-name>
        <servlet-class>edu.upenn.cis.cis455.BusyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusyServlet</servlet-name>
        <url-pattern>/busyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>XPathServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.XPathServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XPathServlet</servlet-name>
        <url-pattern>/xPathServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.UserManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.NewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ChannelManagementServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.ChannelManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChannelManagementServlet</servlet-name>
        <url-pattern>/channels</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteChannelServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.DeleteChannelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteChannelServlet</servlet-name>
        <url-pattern>/channel/delete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>URLServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.servlet.URLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>URLServlet</servlet-name>
        <url-pattern>/urls</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MasterServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.mapreduce.master.MasterServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MasterServlet</servlet-name>
        <url-pattern>/master/*</url-pattern>
    </servlet-mapping>

    
	<servlet>
        <servlet-name>WorkerServlet</servlet-name>
        <servlet-class>edu.upenn.cis455.mapreduce.worker.WorkerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WorkerServlet</servlet-name>
        <url-pattern>/worker/*</url-pattern>
    </servlet-mapping>

     <context-param>
     	<param-name>BDBStore</param-name>
     	<param-value>resources/BDBStore</param-value>
     </context-param>
     
     <context-param>
     	<param-name>master</param-name>
     	<param-value>127.0.0.1:8080</param-value>
     </context-param>
     
      <context-param>
     	<param-name>storagedir</param-name>
     	<param-value>resources/worker1</param-value>
     </context-param>
     
     <context-param>
     	<param-name>worker-port</param-name>
     	<param-value>8080</param-value>
     </context-param>
     
     <context-param>
     	<param-name>worker-ip</param-name>
     	<param-value>localhost</param-value>
     </context-param>
</web-app>
