doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Searchi
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')

  body
    .jumbotron.vertical-center
      .container.text-center
        img.center-block(src='/images/searchi.png')
        //- p.lead makes you want to search
        br
        br
        br
        .container
          .form-group
            input#searchBox.form-control(type='search', width='10%', placeholder='Enter your query')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/index.js')
