doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Searchi
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/results.css', rel='stylesheet')

  body
    .container
      nav
        ul.pagination.pagination-lg
          li.pagePrev
            a(href='#', aria-label='Previous')
              span(aria-hidden='true') «
          li.pageNext
            a(href='#', aria-label='Next')
              span(aria-hidden='true') »

      .list-group
        .contents
          for result in results
            if result.url
              .content
                a.list-group-item('href'=result.url)
                  h4.text-primary= result.url
                  p.list-group-item-text(url= result.url) ...
                  p.small Rank: 
                    b= result.rank





  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/test.js')