if weather.weather
  .well
    p.lead Current temperature at #{weather.name}, #{weather.sys.country}: 
      b #{weather.main.temp} F
    p
      for condition in weather.weather
        b
          span= condition.main
    p.small via openweathermap
    //- img(src='http://openweathermap.org/img/w/' + condition.icon + '.png')