//- .embed-responsive.embed-responsive-4by3
	//- iframe.embed-responsive-item(src='#{url}', width='20', height='20').
//- .embed-responsive.embed-responsive-4by3
.text-center
	iframe(src='#{url}', width='640', height='490')